# Steps to Wrangle the Doganella Data
- read csv file to df
- summarize raw data
    - how many nulls?
    - distributions of features
    - data types
- prepare data
    - remove or impute nulls
    - change innapropriate data types
- create reproducible .py file

### The deliverable of this notebook are functions to put in a Aquifer_Wrangle.py file

In [2]:
#initial imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Aquifer_Doganella.csv', index_col=0)

In [4]:
df

,Rainfall_Monteporzio,Rainfall_Velletri,Depth_to_Groundwater_Pozzo_1,Depth_to_Groundwater_Pozzo_2,Depth_to_Groundwater_Pozzo_3,Depth_to_Groundwater_Pozzo_4,Depth_to_Groundwater_Pozzo_5,Depth_to_Groundwater_Pozzo_6,Depth_to_Groundwater_Pozzo_7,Depth_to_Groundwater_Pozzo_8,...,Volume_Pozzo_1,Volume_Pozzo_2,Volume_Pozzo_3,Volume_Pozzo_4,Volume_Pozzo_5+6,Volume_Pozzo_7,Volume_Pozzo_8,Volume_Pozzo_9,Temperature_Monteporzio,Temperature_Velletri
Date,,,,,,,,,,,,,,,,,,,,,
01/01/2004,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.30,8.60
02/01/2004,0.2,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.70,6.25
03/01/2004,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.40,9.80
04/01/2004,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.35,5.95
05/01/2004,0.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,5.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26/06/2020,0.0,0.0,-50.32,-100.35,-100.880,-101.49,-104.31,-97.94,-96.59,-97.74,...,1516.104,3883.932,2526.516,3867.876,7949.304,2684.412,3911.832,3450.132,21.05,23.39
27/06/2020,0.0,0.0,-50.32,-100.56,-100.840,-101.59,-104.30,-97.96,-96.44,-97.78,...,1491.408,3884.724,2871.864,3867.300,7590.564,2681.280,3899.772,3449.088,22.18,24.44
28/06/2020,0.0,0.0,-50.32,-100.56,-100.920,-101.59,-104.30,-98.46,-96.44,-97.78,...,1485.756,3885.228,2858.400,3869.352,7944.660,2962.980,3901.032,3449.808,23.06,25.43
29/06/2020,0.0,0.0,-50.32,-100.56,-101.190,-101.59,-104.30,-98.46,-96.10,-97.78,...,1479.636,3888.684,2499.444,3873.096,7947.684,2653.884,3904.776,3129.336,22.03,24.22
30/06/2020,0.0,0.0,-50.78,-100.56,-101.235,-101.59,-104.30,-98.47,-96.10,-97.78,...,1470.096,3875.328,2812.356,3870.864,7941.996,2964.168,3901.932,3448.440,21.90,23.97

In [5]:
print('The dataframe has', df.shape[1], 'columns and', df.shape[0], 'rows with a datetime index.')

The dataframe has 21 columns and 6026 rows with a datetime index.